{% load static %}


<div id="quotesBox" class="quotesBox">
    
</div>
<div id="rerenderQuotes" class="quotesBox-button">
    Search the cushions for some new quotes!
</div>

<template id='quoteTemplate'>  
    <div class='quoteCard'>
        <div class="quoteCard-name">
            <span class="symbol"></span>
            <span class="companyName"></span>
        </div>
        <div class="quoteCard-price">
            <span class="price"></span>
            <span class="difference"></span>
        </div> 
    </div>
</template>  

<script type="text/javascript">
    var jsonPath = "{% static "quotes_api.json" %}"
</script>
<script type="text/javascript" src="{% static "quotes.js" %}"></script>